

#login-test {
    width: 40%;
    background-color: white;
  
    
}

body{
    background-color:magenta;
}

.login-form{
    background-color: magenta;
}

#login-form {
    width: 40%;
    background-color: white;
  
    
}