#form-container {
   
    width: 90%;
    margin: 2%;
     border-style: solid;
   text-align: center;
    background-color: yellowgreen;
    text-transform: uppercase;
     
    padding-left: 5em;
    padding: 2em;
     
    /* text-justify: newspaper; */
   
    /* display:grid; */
    /* display:flex; */
    /* border-radius: %; */
     
    

     
}