#home{
    background-color: white;
    display: flex;
    flex-direction: column;
}

#home1{
    display: flex;
    background-color: white;
    justify-content: center;
    
}

#mainBody{
    font-weight: bold;
    background-color: white;
     
}

.container1{
    display: flex;
    flex-direction: column;
     background-color: white;
     font-family:cursive;
     font-weight:500;
     /* height:auto; */
     width: auto;
     padding: 20px;
}
.containerHome{
    background-color: white;
font-weight: bold;
 
}