#login-form {
    width: 40%;
    background-color: lightgreen;
    /* text-align: center; */
     
     
     
  
    
}
body{
    background-color: lightslategray;
   
}
#home{
    background-color: ;
}
#nav 
{background-color: lightpink;}


  #pagination{
    justify-content: center;
     
  }